APP_NAME="Stage Three MVC CMS"
APP_URL="http://localhost/"
APP_ENV="development"
APP_DEBUG="true"

DB_HOST="localhost"
DB_NAME="your_database_name"
DB_USER="your_database_user"
DB_PASSWORD="your_database_password"

MAIL_FROM="noreply@example.test"
